div {
    margin-bottom: 10vw;
}
p {
    color: red;
    font-size: 5vw;
    font-weight: 500;
}

button {
    height: 2vw;
    width: 2vw;
    font-size: 1.5vw;
    font-weight: 800;
    border-radius: 50%;
    margin: 1% 1%;
    text-align: center;
    align-items: center;
    color: black;
    border:2px solid black;
} 

button:hover {
    cursor: pointer;
    background-color: ;
}